<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='scss/main.css') }}">
    <title>Home</title>
</head>
<body class="bg-primary">
    <section id="nav-bar">
        {% include 'nav.html' %}
    </section>
    
    <!-- welcome -->
    <section id="welcome">
        <h1 class="text-light text-center pt-5 pb-3">Welcome to POKCreate!</h1>
        <div class="row align-items-center">
            <div class="col-md-6 col-xs-12">
                <img src="{{url_for('static', filename='images/mascot.png')}}" alt="Blue and white bunny pokemon" class="vertical_image">
            </div>
            <div class="col-md-6 col-xs-12">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis porro in autem quia atque accusantium.
                </p>
            </div>
        </div>
    </section>

    {%include 'form.html'%}

    <!-- footer -->
    <section class="mt-5">
        <div class="container-fluid g-0">
            <footer class='bg-light'>
                <div class="container p-4">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 mb-4">
                            <h5 class="mb-3">FOOTER CONTENT</h5>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, nemo?</p>
                        </div>
                        <div class="col-lg-3 col-md-6 mb-0">
                            <ul class="list-unstyled mb-0">
                                <li class="mb-1"><a href="#">LINK 1</a></li>     
                            </ul>
                        </div>
                    </div>
                <div class="text-center p-3 bg-dark">
                    <a class="text-light" href="{{url_for('index')}}">POKCreate</a>
                </div>
                </div>
            </footer>
        </div>
    </section>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>