<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.min.css') }}">
    <title>PokCreate Home</title>
</head>
<body class="bg-primary">
    <section id="nav-bar">
        {% include 'nav.html' %}
    </section>
    
    <!-- welcome -->
    <section id="welcome">
        <h1 class="text-light text-center pt-5">Welcome to POKCreate</h1>
        <div class="row align-items-center justify-content-center">
            <div class="col-xl-3 col-lg-5 col-md-6 col-xs-12">
                <img src="{{url_for('static', filename='images/mascot.png')}}" alt="Blue and white bunny pokemon" class="img-fluid p-5">
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-xs-12">
                <h3 class="text-light pe-5 text-center">
                    Create your own adorable creature in this Pokèmon TCG card creator!
                </h3>
            </div>
        </div>
    </section>


    <!-- call to action -->
    <section id="action" class="bg-light">
        <div class="container p-5">
            <h1 class="text-center text-primary p-3">Try it for yourself</h1>
            <p class="p-3">
                Your results will be saved in the history tab!
                You can see more details about the clustering and classification of your Pokèmon after it's created.
            </p>
            <div class="d-flex justify-content-center">
                <a href="{{ url_for('apply') }}" class="btn-dark-gradient btn" type="button">Go Now</a>
            </div>
        </div>
    </section>

    <!-- footer -->
    {%include 'footer.html'%}
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>