<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <title>TITLE</title>
</head>
<body>
    Hello World
    <form method="POST", action="{{url_for('apply')}}">
        <div class="mb-6">
            <label for="Pikachu" class="form-label">Name</label>
            <input type="text" class="form-control" name="name">
        </div>

        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label for="" class="form-label">HP</label>
                    <input type="number" class="form-control" name="hp">
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Attack</label>
                    <input type="number" class="form-control" name="attack">
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Defense</label>
                    <input type="number" class="form-control" name="defense">
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label for="" class="form-label">Speed</label>
                    <input type="number" class="form-control" name="speed">
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">SP Attack</label>
                    <input type="number" class="form-control" name="sp_attack">
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">SP Defense</label>
                    <input type="number" class="form-control" name="sp_defense">
                </div>
            </div>
        </div>
             
        <br><br>

        <input type="radio" class="btn-check" name="type" name="type1" autocomplete="off" checked>
        <label for="type 1" class="btn btn-secondary">Type 1</label>
        <input type="radio" class="btn-check" name="type" name="type2" autocomplete="off">
        <label for="type 2" class="btn btn-secondary">Type 2</label>

        <br><br>
        
        <!-- <div class="form-check form-switch">
            <input type="checkbox" role="switch" name="legendary" class="form-check-input">
            <label for="legendary" class="form-check-label" name="legendary">
                Legendary
            </label>
        </div> -->
        <input type="submit", value="CREATE">
        
    </form>
</body>
</html>