<!DOCTYPE html>
<html lang="en">
<head>
    <title>Data Visualization</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.min.css') }}">
</head>
<body class="bg-primary">
    {% include 'nav.html' %}
    
    <div id="content">

        <div class="container-fluid mt-5">
            <div class="container-lg gx-0">
                <div class="row py-3 bg-light mb-5">
                    <div class="col-8">
                        <h1 class="display-4">Cluster 0 - {{cname[0]}}</h1>
                        <p class="lead my-3 col-lg-6 col-md-12">{{cdesc[0]}}</p>
                        <div class="row">
                            <div class="col-3">
                                <img class="img-fluid" src="{{url_for('static', filename='images/0xerneas.jpg')}}" alt="">
                            </div>
                            <div class="col-3">
                                <img class="img-fluid" src="{{url_for('static', filename='images/0latias.jpg')}}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-4 align-self-center">
                        <img class="img-fluid"  src="{{url_for('static', filename='images/cluster 0.png')}}" alt="Radar chart of cluster 0">
                    </div>
                </div>
                
                
                <div class="row py-3 bg-light mb-5">
                    <div class="col-8">
                        <h1 class="display-4">Cluster 1 - {{cname[1]}}</h1>
                        <p class="lead my-3 col-lg-6 col-md-12">{{cdesc[1]}}</p>
                        <div class="row">
                            <div class="col-3">
                                <img class="img-fluid" src="{{url_for('static', filename='images/1chingling.png')}}" alt="" loading="lazy">
                            </div>
                            <div class="col-3">
                                <img class="img-fluid" src="{{url_for('static', filename='images/1mantyke.jpg')}}" alt="" loading="lazy">
                            </div>
                        </div>
                    </div>
                    <div class="col-4 align-self-center">
                        <img class="img-fluid"  src="{{url_for('static', filename='images/cluster 1.png')}}" alt="Radar chart of cluster 1" loading="lazy">
                    </div>
                </div>

                <div class="row py-3 bg-light mb-5">
                    <div class="col-8">
                        <h1 class="display-4">Cluster 2 - {{cname[2]}}</h1>
                        <p class="lead my-3 col-lg-6 col-md-12">{{cdesc[2]}}</p>
                        <div class="row">
                            <div class="col-3">
                                <img class="img-fluid" src="{{url_for('static', filename='images/2aegislashShield.png')}}" alt="" loading="lazy">
                            </div>
                            <div class="col-3">
                                <img class="img-fluid" src="{{url_for('static', filename='images/2diancie.jpg')}}" alt="" loading="lazy">
                            </div>
                        </div>
                    </div>
                    <div class="col-4 align-self-center">
                        <img class="img-fluid"  src="{{url_for('static', filename='images/cluster 2.png')}}" alt="Radar chart of cluster 2" loading="lazy">
                    </div>
                </div>

                <div class="row py-3 bg-light mb-5">
                    <div class="col-8">
                        <h1 class="display-4">Cluster 3 - {{cname[3]}}</h1>
                        <p class="lead my-3 col-lg-6 col-md-12">{{cdesc[3]}}</p>
                        <div class="row">
                            <div class="col-3">
                                <img class="img-fluid" src="{{url_for('static', filename='images/3darminitan.png')}}" alt="" loading="lazy">
                            </div>
                            <div class="col-3">
                                <img class="img-fluid" src="{{url_for('static', filename='images/3audino.png')}}" alt="" loading="lazy">
                            </div>
                        </div>
                    </div>
                    <div class="col-4 align-self-center">
                        <img class="img-fluid"  src="{{url_for('static', filename='images/cluster 3.png')}}" alt="Radar chart of cluster 3">
                    </div>
                </div>

                <div class="row py-3 bg-light mb-5">
                    <div class="col-8">
                        <h1 class="display-4">Cluster 4 - {{cname[4]}}</h1>
                        <p class="lead my-3 col-lg-6 col-md-12">{{cdesc[4]}}</p>
                        <div class="row">
                            <div class="col-3">
                                <img class="img-fluid" src="{{url_for('static', filename='images/4altaria.png')}}" alt="" loading="lazy">
                            </div>
                            <div class="col-3">
                                <img class="img-fluid" src="{{url_for('static', filename='images/4meowstic.png')}}" alt="" loading="lazy">
                            </div>
                        </div>
                    </div>
                    <div class="col-4 align-self-center">
                        <img class="img-fluid"  src="{{url_for('static', filename='images/cluster 4.png')}}" alt="Radar chart of cluster 4" loading="lazy">
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>