$primary: #025464;
$light: #F8F1F1;
$dark: #1E2122;
$warning:#ECAC3F;
$secondary: #E57C23;

// this import isn't working atm
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

.vertical_image{
    max-height: 100%;
    width: auto;
}